* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.img-area {
	background-color: #dee;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 20px;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 50px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-auto-rows: 280px;
	grid-auto-flow: dense;
	grid-gap: 25px;
	width: 100%;
}
.single-box {
	position: relative;
}
.single-box a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.single-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.9s;
	user-select: none;
}
.single-box a:hover img {
	transform: rotate(5deg) scale(1.4);
}
@media (max-width: 768px) {
	.img-area {
		padding: 0;
	}
	.wrapper {
		max-width: 100%;
		padding: 0;
	}
}
